<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>Recipies</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>

<body>
  <div ng-controller="myCtrl">
    <h1>Recipies</h1>
    <ul>
      <li ng-repeat="x in foodList">{{ x.name }}</li>
    </ul>
    <div ng-if="recipieView"></div>
  </div>
</body>

</html>